{% extends 'ask/index.html' %}


{% block content %}

        	<h1 class="collumn-header">{{ question.title }}</h1>


      			<!-- Main component for a primary marketing message or call to action -->
      			<div class="question-detailed jumbotron">
        		<p class="question-detailed-text">{{ question.text }}</p>
              <div class="question-author-info">

                <img src="{{question.author.avatar.url}}" class="img-circle user-pic-small"><a href="#profile" class="author-name">{{question.author.user.username}}</a>
                <span class="author-name">|</span>
                <span class="author-name">Rating: {{ question.rating }}</span>

                <a class="author-name" href="#like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
                <a class="author-name" href="#like"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
	{% for tag in tags %}
                <a class="question-right-info" href="/tag/{{tag.name}}"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> {{tag.name}}</a>
        {% endfor %}
		<span class="question-right-info">{{question.date|date:'d/m/Y'}}</span>



              </div>
      			</div>


            <h1 class="collumn-header">{{ answer_count }} Answers</h1>
          <!--  <span class="sort-type-header">Sort by:</span> <a class="sort-type-link active">Date</a><a class="sort-type-link">Rating</a> --!>

{% for answer in objects %}

            <div class="question-preview jumbotron {%if answer.is_correct%}correct-answer{%endif%}">
            <p class="question-text">{{ answer.text }}</p>
              <div class="question-author-info">

                <img src="{{answer.author.avatar.url}}" class="img-circle user-pic-small"><a href="#profile" class="author-name">{{answer.author.user.username}}</a>

                <a class="question-right-info" href="#correct"><span class="glyphicon glyphicon-{%if answer.is_correct%}ok{%else%}remove{%endif%}" aria-hidden="true"></span> Correct answer</a>
                <span class="question-right-info">{{answer.date|date:'d/m/Y'}}</span>

              </div>
            </div>

{% endfor %}

{% include "ask/pagination.html" %}

{% endblock content %}

      
{% block footer_form %}
	<h1>Your Answer</h1>

        <form class="form-horizontal" method="POST">
	{% csrf_token %}
        <fieldset>

	{% for field in form.visible_fields %}
        <!-- Textarea -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="{{field.title}}"></label>
          <div class="col-md-12">                     
            {{field}}<!--<textarea class="form-control" id="answer-input" name="answer-input"></textarea> -->
          </div>
        </div>

	{% endfor %}

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-0 control-label" for="answer-button"></label>
          <div class="col-md-4">
            <button id="answer-button" name="answer-button" class="btn btn-inverse">Answer</button>
          </div>
        </div>

        </fieldset>
        </form>
{% endblock %}
