<html>

<head>
    {% load staticfiles %}
    <!-- Custom styles for this template -->
    <link href={% static "css/starter-template.css" %} rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href={% static "css/bootstrap.min.css" %} rel="stylesheet">


</head>

<body>

    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{%url 'index' %}">AskMe</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{%url 'ask' %}">New Question</a></li>
          </ul>


       <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-inverse">Submit</button>
        </form>


            <ul class="nav navbar-nav navbar-right">
		{% if user.is_authenticated %}
	      	{% if user.is_superuser %}
	      <li><a href="/admin" target="_blank">Admin</a></li> {% endif %}
              <li><img src="{{ user.profile.avatar.url  }}" class="img-circle header__user-pic-small"></li>
              <li><a class="nav-profile-link" href="#profile">{{ user.username }}</a></li>
              <li><a href="/logout/?next_to={{ current_path }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></li>
            	{% else %}
              <li></li>
              <li><a href="/login/?next_to={{ current_path }}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a></li>
              <li><a href="/signup/?next_to={{ current_path }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Sign Up</a></li>
		{% endif %}	
		
	    </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">
    <div class="row main-row">


        <div class="col-md-9 left-collumn">
         

	{% block content %}{% endblock %}
	{% block pagination %}{% endblock %}          
	{% block footer_form %}{% endblock %} 
        </div><!-- left collumn -->


        <div class="col-md-3 right-collumn">
          <h1>Top tags</h1>
            <div class="tag-cloud jumbotron">
              <a href="#tag" class="tag-cloud-elem">perl</a>
              <a href="#tag" class="tag-cloud-elem">Python</a>
              <a href="#tag" class="tag-cloud-elem">TechnoPark</a>
              <a href="#tag" class="tag-cloud-elem">Voloshin</a>
            </div>
          <h1>Top users</h1>
            <div class="top-users jumbotron">
            <ul class="top-users-list">
                <li class="top-users-li"><a href="#tag" class="top-users-elem">Leela</a></li>
                <li class="top-users-li"><a href="#tag" class="top-users-elem">Bender</a></li>
                <li class="top-users-li"><a href="#tag" class="top-users-elem">Fry</a></li>
                <li class="top-users-li"><a href="#tag" class="top-users-elem">Voloshin</a></li>
              </ul>
            </div>

        </div> <!-- right collumn-->



</div>
</body>

</html>
