{% extends 'ask/index.html' %}

{% block sort_type %} 
	<span class="sort-type-header">Sort by:</span> <a href="{%url 'index' %}" class="sort-type-link">Date</a><a href="{%url 'hot_index' %}" class="sort-type-link active">Rating</a>
{% endblock %}

