{% extends "ask/base.html" %}

{% block content  %}        
	{% block content_header %}<h1 class="collumn-header">Questions</h1> {% endblock %}
         {% block sort_type %} <span class="sort-type-header">Sort by:</span> <a href="{%url 'index'  %}" class="sort-type-link active">Date</a>
										<a href="{%url 'hot_index' %}" class="sort-type-link">Rating</a>{% endblock %}

{% for question in objects %}        	
      			<!-- Main component for a primary marketing message or call to action -->
      			<div class="question-preview jumbotron">
       				<a href="{%url 'answers' question.id %}"><h1 class="question-title">{{ question.title }}</h1></a>
        			<p class="question-text">{{ question.text }}</p>
	              <div class="question-author-info">
	                <img src="{{question.author.avatar.url}}" class="img-circle user-pic-small"><a href="#profile" class="author-name">{{question.author.user.username}}</a>

					<span class="author-name">|</span>
					<span class="author-name">Rating: {{ question.rating }}</span>

	                <a class="author-name" href="#like"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a>
	                <a class="author-name" href="#like"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>

	                <a class="question-right-info" href="{%url 'answers' question.id %}">
				<span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{question.answer_count}} Answers
	                </a>

					<span class="question-right-info">|</span>
	{%for tag in question.tags %}
	                <a class="question-right-info" href="{%url 'tag_index' tag.name %}"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span> {{tag.name}}</a>
	{% endfor %}
			<span class="question-right-info">{{question.date|date:'d/m/Y'}}</span>

	                </div>
      			</div>

{% endfor %}

{% include "ask/pagination.html" %}

{% endblock content %}
	
