{% extends 'ask/base.html' %}
      
{% block content %}
  
	<h1 class="collumn-header">Sign Up</h1>
          

			<form class="form-horizontal" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			<fieldset>

			{% for field in form.visible_fields %}
			
			<div class="form-group">
			  <label class="col-md-4 control-label" for="{{ field.name }}">{{ field.label }}</label>  
			  <div class="col-md-4">
			  <!--<input id="login-input" name="login-input" type="text" placeholder="Type in your login" class="form-control input-md" required="">
			    -->
			  {{ field }}
			  </div>
			</div>
			{% endfor %}

			<!-- Text input
			<div class="form-group has-error">
			  <label class="col-md-4 control-label" for="email-input">Email</label>  
			  <div class="col-md-4">
			  <input id="email-input" name="email-input" type="text" placeholder="example@how.com" class="form-control input-md has-error" required="">
			  <span id="helpBlock2" class="help-block">The Email adress already registred</span>
			    
			  </div>
			</div>
			-->
			<!-- Button -->
			<div class="form-group">
			  <label class="col-md-4 control-label" for="reg-button"></label>
			  <div class="col-md-4">
			    <button id="reg-button" name="reg-button" class="btn btn-inverse">Confirm</button>
			{% if form.errors %}
			   <span id="helpBlock2" class="help-block">{{ form.errors }}</span>
			{% endif %}
			    <a href="{% url 'login' %}" name="register-button" class="link-button">Login</a>
			  </div>
			</div>

			</fieldset>
			</form>


{% endblock content %}

